.product {
  display: flex;
  flex-wrap: wrap;

  padding-top: 0;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;

  border: 1px solid #ededed;
  border-top: none;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.product__description-wrapper {
  padding-top: 22px;
}

.product__title {
  width: 75px;

  margin: 0;
  margin-bottom: 10px;

  font: inherit;
  text-transform: uppercase;
}

.product__link-title {
  color: inherit;
}

.product__info {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  margin-left: -3px;
  margin-right: -3px;
}

.product__info tbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 140px;
}

.product__info tr {
  display: flex;
  justify-content: space-between;
}

.product__info td {
  display: block;
  width: auto;
  padding: 0;
}

.product__link {
  margin-top: -3px;
}


@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    min-height: 431px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    border: none;

    &:first-child {
      border: none;
    }
  }
}


@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }
}
