.page-header {
  background-color: #ffffff;
}

.page-header__wrapper {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;

    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header__wrapper {
    width: 174px;

    padding: 0;
  }

  .page-header__nav {
    margin-left: 96px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    height: 113px; /*temprorary*/

    margin: 0 auto;
    margin-bottom: -113px;
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__wrapper {
    width: 245px;

    padding: 0;
  }

  .inner-page .page-header {
    margin-bottom: 0;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
