.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 23px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: 0;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    left: -1px;

    width: 23px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
