.for-slim {
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;

  background-color: #f2f2f2;
}

.for-slim__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    left: 2px;
    top: -5px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    left: 9px;
    top: -9px;

    background-image: url("../../../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.for-slim__description {
  position: relative;

  font-family: "Arial", sans-serif;
  color: #444444;

  margin: 0;
  margin-bottom: 17px;
  padding-bottom: 22px;

  border-bottom: 1px solid #e6e6e6;
}

.for-slim__link {
  position: relative;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &::before {
    content: "";
    position: absolute;

    width: 25px;
    height: 23px;

    right: -35px;
    top: 8px;

    background-image: url("../../../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    width: 34px;
    background-image: url("../../../img/icon-right-arrow-verylong.svg");
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .for-slim {
    display: flex;
    flex-direction: column;

    padding-top: 75px;
    padding-bottom: 61px;
    padding-left: 52px;
    padding-right: 52px;
  }

  .for-slim__title {
    width: 375px;

    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    font-size: 36px;

    &::before,
    &::after {
      display: none;
    }
  }

  .for-slim__description {
    width: 375px;

    margin: 0;
    margin-bottom: 56px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;


    &::before {
      content: "";
      position: absolute;

      width: 200px;
      height: 200px;

      right: -219px;
      top: -47px;

      background-color: #68b738;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;

      width: 141px;
      height: 194px;

      right: -190px;
      top: -59px;

      background-image: url("../../../img/icon-cat-slim.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .for-slim__link {
    width: 375px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      left: 131px;
      top: 4px;
    }
  }
}
