.page-footer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;

  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__logo {
  padding-top: 19px;
  padding-bottom: 28px;

  text-align: center;

  border-bottom: 1px solid #e6e6e6;
}

.page-footer__social {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-footer__logo {
    border-bottom: none;
  }

  .page-footer__social {
    border-bottom: none;
  }
}


@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1300px;

    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
