.button {
  display: block;
  width: 280px;
  padding: 11px 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #68b738;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--font-up {
    padding: 10px 13px;

    font-size: 16px;
    line-height: 20px;
  }

  &--grey {
    color: #444444;

    background-color: #f2f2f2;
  }

  &--grey:hover,
  &--grey:focus {
    background-color: #ebebeb;
  }

  &--grey:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;

    padding: 16px 16px;
    padding-left: 13px;

    font-size: 20px;
    line-height: 20px;

    &--font-up {
      width: 249px;

      padding: 10px 12px;

      font-size: 16px;
    }

    &--toll {
      width: 283px;

      padding: 16px 16px;
      font-size: 20px;
      line-height: 20px;
    }

    &--large {
      width: 633px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--font-up {
      width: 169px;
    }

    &--large {
      width: 245px;
    }

    &--toll {
      width: 568px;
    }
  }
}
