.promo-product {
  padding-top: 0;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo-product__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-product__item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .promo-product {
    margin-bottom: 51px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .promo-product__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo-product {
    width: 1300px;

    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .promo-product__list {
    display: flex;
  }

  .promo-product__item {
    width: 570px;

    margin-bottom: 0;

    &:last-child {
      margin-left: 80px;
    }
  }
}
