.promo-program {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;

  width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 27px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to top, #ffffff 50%, #68b738 50%);
  background-position: 0 0, 100% 0;
  background-size: auto, 100% 100%;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to top, #ffffff 50%, #68b738 50%);
    background-size: 320px 305px, 100% 100%;
  }
}

.promo-program__header {
  width: 280px;
}

.promo-program__intro {
  display: block;

  padding-bottom: 5px;

  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;

  text-align: center;
}

.promo-program__slogan {
  display: block;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 29px;

  text-transform: uppercase;

  text-align: center;
}

.promo-program__picture {
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .promo-program {
    width: 768px;
    margin-left: auto;
    margin-right: auto;


    color: #111111;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;

    background-image: none;
  }

  .promo-program__wrapper {
    display: flex;
    flex-direction: column;
  }

  .promo-program__header {
    width: 514px;

    margin-bottom: 47px;
    padding-left: 87px;
  }

  .promo-program__intro {
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    margin-bottom: 42px;
    padding: 0;
  }

  .promo-program__slogan {
    text-align: left;

    font-size: 20px;
    line-height: 20px;

    padding: 0;
  }

  .promo-program__picture {
    order: 3;

    width: 709px;
    height: 609px;

    margin-bottom: 0;
  }

  .promo-program__picture-wrapper {
    order: 3;

    width: 709px;
    height: 609px;
  }

  .promo-program__link {
    margin-left: 90px;
    margin-bottom: -80px;

    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo-program {
    width: 100%;
    padding-top: 142px;
    padding-left: 40px;
    padding-right: 40px;

    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #68b738 50%);
    background-position: 100% 0, 100% 0;
    background-size: 50% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;

    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 50%, #68b738 50%);
      background-size: 720px 696px, 100% 100%;
      background-position: 100% 0, 100% 0;
      background-repeat: no-repeat, no-repeat;
    }
  }

  .promo-program__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;

    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .promo-program__header {
    order: 1;

    width: 500px;

    margin-bottom: 52px;
    padding-top: 80px;
    padding-left: 80px;

    z-index: 1;
  }

  .promo-program__intro {
    font-size: 60px;
    line-height: 60px;
  }

  .promo-program__picture {
    width: 552px;
    height: 499px;

    margin-left: -50px;
  }

  .promo-program__picture-wrapper {
    order: 2;

    width: 552px;
    height: 499px;
  }

  .promo-program__link {
    order: 3;

    margin-left: 80px;
    margin-top: -185px;
    margin-bottom: 188px;

    z-index: 1;
  }
}
