.profile {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
}

.profile__description {
  display: block;

  width: 270px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  text-transform: uppercase;
}
